.pulse-loader-animation {
  display: flex;
  margin: 15px 0;
  border-radius: 4px;
  animation: pulse 1s infinite ease-in-out;
}

/* Get loader */
@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.2);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
