/* .website-header {
  font-size: 28px;
  padding: 10px;
  cursor: pointer;
}

.header-bar {
  height: 60px;
  width: 100%;
  padding: 5px;
  display: flex;
  border-bottom: 2px solid;
}

.left {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
  align-items: center;
}

.right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link:hover {
  background-color: #b58900;
  color: #ffffff;
} */

.nav-link,
.dropdown-item {
  cursor: pointer;
}

.navbar-brand {
  text-decoration: line-through;
  color: #b58900 !important;
  cursor: pointer !important;
}

.covid-custom-navbar,
.sticky-footer {
  background: linear-gradient(to right, #013948, #011c23);
}
