html,
body {
  height: 100%;
  width: 100%;
  background-color: #002b36;
  padding-top: 0.5rem;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  color: #7d99a3;
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
}

/* .main {
  margin-top: 56px;
} */

.underline {
  text-decoration: underline;
}

.red {
  color: #dc143c;
}

.pink {
  color: #d33682;
}

.green {
  color: #2aa198;
}

.dark-green {
  color: #073642;
}

.dark-green-page {
  background-color: #073642;
}

.darkest-green {
  color: #011c23;
}

.dark-green-bg {
  background-color: #011c23;
}

.yellow {
  color: #b58900;
}

.jumbotron {
  background-color: #002b36;
}

.yellow-background {
  background-color: #b58900;
  color: #ffffff !important;
}

.h6 {
  font-size: 0.8rem;
}

/* spining code  */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
